apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - namespace.yaml
  - prometheus.yaml
  - loki.yaml
  - grafana.yaml
  - promtail.yaml
  - grafana-ingress.yaml
