apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      chart: prometheus
      version: "25.8.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    alertmanager:
      enabled: false
    pushgateway:
      enabled: false
    nodeExporter:
      enabled: true
    server:
      persistentVolume:
        enabled: true
        size: 8Gi
      resources:
        requests:
          memory: "512Mi"
          cpu: "300m"
        limits:
          memory: "1Gi"
          cpu: "500m"
