apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 1h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 1h
  chart:
    spec:
      chart: ingress-nginx
      version: "4.11.7"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
  values:
    controller:
      service:
        type: LoadBalancer
        annotations:
          metallb.universe.tf/address-pool: default
      hostPort:
        enabled: true
      kind: DaemonSet
      nodeSelector:
        ingress-ready: "true"
      tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Exists"
        effect: "NoSchedule"
    # Add this to the values existing ingress-nginx HelmRelease
    controller:
      config:
        http-snippet: |
          lua_package_path "/etc/nginx/lua/?.lua;;";
          
          init_by_lua_block {
            redirect_plugin = require "redirect-404"
          }
          
          header_filter_by_lua_block {
            redirect_plugin.redirect_404()
          }
      extraVolumeMounts:
        - name: lua-scripts
          mountPath: /etc/nginx/lua/
      extraVolumes:
        - name: lua-scripts
          configMap:
            name: nginx-lua-plugin      
