apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 1h
  chart:
    spec:
      chart: ingress-nginx
      version: "4.11.7"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
  values:
    controller:
      service:
        type: LoadBalancer
        externalTrafficPolicy: Local
      hostPort:
        enabled: true
      kind: DaemonSet
      nodeSelector:
        ingress-ready: "true"
      tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Exists"
        effect: "NoSchedule"
      config:
        http-snippet: |
          lua_package_path "/etc/nginx/lua/?.lua;;";
          
          init_by_lua_block {
            redirect_plugin = require "redirect-404"
          }
          
          log_by_lua_block {
            if ngx.status == 404 then
              ngx.redirect("https://www.google.com", 302)
            end
          }
      extraVolumeMounts:
        - name: lua-scripts
          mountPath: /etc/nginx/lua/
      extraVolumes:
        - name: lua-scripts
          configMap:
            name: nginx-lua-plugin
